.breadcrumbHeadline {
  font-size: var(--font-size--big);
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
}

.breadcrumbText {
  color: var(--color-headline--gray-700);
  font-size: var(--font-size--regular);
  line-height: 24px;
}
